//Font
$font_family:'Lato',sans-serif;
$second_font:'Muli', sans-serif;



// Color

$primary_color: #34517D;
$green_color: #5fcb44;
$text_color: #9b9a9f;
$helper_color: #312f50;
$light_gray: #f0f0f0;
$white_color: #fff;

//Size
$text_size: 16px;
$link_size: 14px;
$nav_size: $text_size*0.8;